@import 'pagestyle.css';
@import 'form.css';
.reg-container{
    display: flex;
    width:50%;
    height:70%;
    flex-flow:column;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-neutral{
    
    margin:5px 5px 0px 5px;
    padding:5px 10px;
    border:0px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
.btn-active{
    margin:5px 5px 0px 5px;
    padding:5px 10px;
    border:0px;
    background-color: whitesmoke;
    border:2px solid black;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
h2{
    margin:auto;
    padding:20px;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}
fieldset{
    border: 1px solid black;    
    border-radius: 10px;
    padding:10px;
}
form{
    width:100%;
}
.form-active{
    background-color: whitesmoke;
    display: flex;  
    flex-flow: column;  
    padding:10px;
    align-self: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}
.sect-datarow{
    display: flex;
    flex-flow: row;   
    padding:10px; 
}
.sect-datarow label{
    width:100px;
}