/* Name: Aliasgar Gandhi.
   Student ID: 2122332 
*/
 
@import "menu.css";

body{
  background-color: rgb(241,237,236);;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Header */
/* Display content inline. */
#header-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Logo of website */
#logo{
  width: 150px;
  height: 100px;
}

/* Search TextBox */
#txt-search{
  margin-bottom: 10px;
  margin-right: 0;
  padding-right: 0;
  padding-left: 8px;
  margin-left: 20px;
  width: 70%;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: min-content;
}

/* Search Button */
#btn-search{
  background-image: url('../Images/icons/search_icon_32.png');
  border: none;
  margin-bottom: -8px;
  padding: 0px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* Icons of cart and Menu. */
#img-header{
  margin-top: 20px;
  margin-right: 10px;
  justify-content: flex-end;
  border: thin solid  rgb(237,66,50);
  background-color: rgb(241,237,236);
  border-radius: 50%;
  height: 32px;
  align-items: center;
}

#img-header:hover{
  
  background-color: rgb(237,66,50);;
}

a{
    color: rgb(241,237,236);
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
    align-items: center;
}


/*HomePage Image Animation. */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.carousel {
    position: relative;
    padding-top: 40%;
    filter: drop-shadow(0 0 10px #0003);
/*     perspective: 100px; */
  }
  
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  
.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }

  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    z-index: 100;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel-img{
      width: 100%;
      height: 80vh;
  }

  @media screen and (min-width: 400px) {
    .carousel-img{
      width: 100%;
      height: 29vh;
  }
  }

  @media screen and (min-width: 600px) {
    .carousel-img{
      width: 100%;
      height: 40vh;
  }
  }
  
  @media screen and (min-width: 800px) {
    .carousel-img{
      width: 100%;
      height: 50vh;
  }
  }

  @media screen and (min-width: 950px) {
    .carousel-img{
      width: 100%;
      height: 57vh;
  }
  }

  @media screen and (min-width: 1100px) {
    .carousel-img{
      width: 100%;
      height: 65vh;
  }
  }


  @media screen and (min-width: 1200px) {
    .carousel-img{
      width: 100%;
      height: 80vh;
  }
  }



.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }


  /* Content After animation. */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: thin solid #ccc;
}

.inner-div{
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title{
  text-align: center;
  line-height: 35px;
  font-weight: 1000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  text-align: center;
  font-size: large;
  color:#333;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#item-heading-div{
  width: 50%;
  letter-spacing: 1px;
  line-height: 23px;
  margin-left: 25%;
}

.items{
  width: 330px;
  background-color: #fff;
  border: thin solid #ccc;
  border-radius: 5%;
  margin: 8px;
  height: fit-content;
  padding: 15px 0px;
}

.items:hover{
  border: thin solid #CCCCCC; 
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  transition: all .6s;
}

.items>img{
  width: 65%;
  height: fit-content;
  padding-left: 17%;
}

.item-div{
  padding-left: 20px;
}

.item-div>h3{
  margin-top: 0px;
}

a>h2{
  color: #000;
}

.flex{
  display: flex;
}

/* like button annimation */
.heart {
  width: 100px;
  height: 100px;
  background: no-repeat;
  background-image: url("../Images/heart.png");
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  margin-left: 15%;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

/* Contact Details */
.contact{
  background-color: #333;
  flex-wrap: wrap;
  width: 100%;
  height: 40vh;
  padding: 10px 5px;
}

#getInTouch1
{
  color: #fff;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
}

#getInTouch2{
  color: #fff;
  font-weight:1000;
  font-family: Arial, Helvetica, sans-serif;
}

#btAppointment{
  background-color: white;
  color: #ed4030;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
  padding: 20px;
}

#btAppointment:hover{
  background-color: #ed4030;
  color: white;
  cursor: pointer;
}

#btGetQuote{
  background-color: white;
  color: #ed4030;
  font-weight: 600;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}

#btGetQuote:hover{
  background-color: #ed4030;
  color: white;
}

#btAddToCart{
  background-color: white;
  border: thin solid #ccc;
  color: #ed4030;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
}

#btAddToCart:hover{
  background-color: #ed4030;
  color: white;
  cursor: pointer;
}

/* Counter  */
.main-container{
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 53vh;
  justify-content: center;
}

.numbers-container{
  width: 80%;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  background-color: #ed4030;
  box-shadow: 0 15px 50px rgba(237,66,48,0.9);
  margin: 10px;
}

.numbers-container>div>h1{
  font-weight: 700;
  font-size: 250px;
  margin-top: 25px;
  margin-bottom: 0px;
  line-height: 1;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
  opacity: 0.5;
}

.numbers-container>div>h3{
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-start;
  line-height: 1;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 45px;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
  opacity: 0.5;
}

#position-relative{
  position: relative;
  margin: auto;
}

.sub-number-container{
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -62%;
}


@media screen and (max-width: 800px) {

  .numbers-container{
    width: 80%;
    text-align: center;
    vertical-align:middle;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: #ed4030;
    box-shadow: 0 15px 50px rgba(237,66,48,0.9);
    margin: 10px;
  }

  .numbers-container>div>h1{
    font-weight: 700;
    font-size: 150px;
    vertical-align:middle;
    margin-top: 15%;
    margin-bottom: 0px;
    line-height: 1;
    text-align: center;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: 1;
    opacity: 0.3;
  }

  #position-relative{
    position: relative;
    margin: auto;
  }
  
  .numbers-container>div>h3{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
    line-height: 0.5;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: 1;
    opacity: 0.3;
  }

  .sub-number-container{
    top: -50%;
    justify-content: center;
    /* align-items: center; */
  }

  .text-weight{
    font-weight: 300;
    font-size: 20px;
  }
  
  .text-size{
    font-size: 10px;
    font-weight: 100;
  }
}

@media screen and (max-width: 800px) {
  .sub-number-container{
    top: -60%;
    justify-content: center;
    /* align-items: center; */
  }
}

.child-number-container{
  margin: 20px;
}

.text-color{
  color: #fff;
}

.text-weight{
  font-weight: 600;
  font-size: 40px;
}

.text-size{
  font-size: 20px;
  font-weight: 300;
}

/* Top Brands */
.top-brand-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-big-img{
  height: 78vh;
  width: 450px;
  margin-right: 10px;
}

.brand-big-img:hover{
  border: thin solid #CCCCCC; 
  border-radius: 90%;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
  background-color: #fff;
  box-shadow: 0 15px 30px 20px rgba(0,0,0,0.3);
  transition: all .6s;
} 

.small-img-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.brand-small-img{
  height: 38vh;
  width: 450px;
  margin-bottom: 10px;
}

.brand-small-img:hover{
  border: thin solid #CCCCCC; 
  border-radius: 70%;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
  background-color: #fff;
  box-shadow: 0 15px 30px 20px rgba(0,0,0,0.3);
  transition: all .6s;
} 



/* Footer CSS */
.foot_main{
  display: flex;
  flex-direction: column;
  background-color: rgb(237,66,50);
}

.ul-foot{
  padding: 20px;
}

.ul-foot>li{
  padding: 8px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.center{
  text-align: center;
}

#copyright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#copyright a{
  font-size: 20px;
  margin: 2px;
}

#footer-hr{
  width: 95%;
  align-items: center;
  background-color: #fff;
}

.community:hover{
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
  box-shadow: 0 25px 60px rgba(0,0,0,0.5);
  background-color: #ed4030;
  transition: all .6s;
}

.visited:visited{
  color: lightblue;
}

.visited:link{
  color: white;
}

.link:hover{
  text-decoration: underline;
}

/* ================================================================================================ */

/* Wishlist Page */

.instock{
  color: green;
}

.outofstock{
  color: red;
}

td>h3, td>div>h6{
  color: #777;
}

.wishlist-heading{
  position: relative;
  z-index: 0;
  color: white;
  font-size: 80px;
  font-weight: 900;
  bottom:100px;
  right: -5%;;
}


/* ================================================================================================ */

/* Add To Cart Page */

/* Cart Image */
#cart-banner{
  z-index: 0;
  position: relative;
  height: 70vh;
  width: 100%;
}

.cart-heading{
  position: relative;
  z-index: 2;
  color: white;
  font-size: 80px;
  font-weight: 900;
  top:-100px;
  left: -260px;;
}

#cart-container{
  width: 80%;
  margin: 0% 10% 10% 10%;
  font-family: Arial, Helvetica, sans-serif;
}

th,td{
  border: thin solid #ccc;
  padding: 20px;
}

th{
  background-color: #ed4030;
  color: #fff;
}

button{
  border: none;
  cursor: pointer;
}

table{
  width: 100%;
}

.cart-img{
  height: fit-content;
  width: 150px;
  margin: 10px;
}

select{
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.cancel-img{
  background-image: url('../Images/icons/cancel_32.png');
  height: 30px;
  width: 30px;
}

/* Checkout button container */
#checkout-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btcheckout{
  background-color: white;
  border: thin solid #ccc;
  color: #ed4030;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 50px;
  cursor: pointer;
}

.btcheckout:hover{
  background-color: #ed4030;
  color: white;
  cursor: pointer;
}



/* ================================================================================================ */

/* Order Page */

.order-container{
  display: flex;
  margin: 20px 0px;
}

.parent-filter-container{
  background-color: #fff;
  border: thin solid #ccc;
  border-radius:10pt;
  padding: 30px;
  margin: 30px 0px 30px 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.7cm;
  height: fit-content;
}

.filter-container{
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .order-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }

  .parent-filter-container{
    margin-right: 20px;
  }

  #btSearchOrder{
    position: relative;
    left: 20px;
  }
}

.order-item-container
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}

.outer-space{
  margin: 5px 30px;
}

#search-order-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 5px;
}

#txtSearchOrder{
  height: fit-content;
  font-size: 20px;
  padding: 10px;
  width: 70%;
  margin-left: 20px;
  margin-right: 0 ;
  border: thin solid #ccc;
}

#btSearchOrder{
  height: fit-content;
  width: fit-content;
  background-color: #ed4030;
  color: #fff;
  margin: 0;
  font-size: 20px;
  padding: 10px;
}

#btSearchOrder:hover{
  cursor: pointer;
}

#btSearchOrder>img{
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

#order-item-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.order-img{
  /* height: 150px; */
  height: fit-content;
  width: 150px;
  margin: 10px 25px;
}

.order-description{
  margin: 5px 60px;
}

.order-description>p{
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
}

#product-name{
  color: black;
}

select:focus{
  border: 3px solid #ed4030;
}

#product-name:hover{
  color: #ed4030;
}


/* ================================================================================================ */

/* Checkout Page CSS */

.sub-container{
  background-color: #fff;
  border: thin solid #ccc;
  padding: 60px 40px;
  margin: 10px 5px 30px 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.7cm;
  width: 700px;
  height: fit-content;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.checkout-heading{
  position: relative;
  z-index: 2;
  color: white;
  font-size: 80px;
  font-weight: 900;
  top:-100px;
  right: 33%;;
}

.booking-container{
    background-color: #fff;
    border: thin solid #ccc;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    margin: 10px 5px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.7cm;
    width: 400px;
    height: fit-content;
  
}
.sub-container>div>h1{
  padding: 0px 20px;
}

.parent-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: space-evenly;
}

#fieldset-container{
  border: thin solid #ccc;
}

@media screen and (max-width: 1000px) {
  .input-container{
    flex-wrap: wrap;
  }
}
.textbox{
  padding: 20px 50px 20px 25px;
  margin: 10px;
  height: fit-content;
  font-size: 16px;
  width: 100%;
}

#txtCity, #txtAddress{
  width: 90%;
}

.input-container{
  display: flex;
  justify-content: space-evenly;
}

.address-container{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.summary{
  justify-content: space-between;
  padding: 0px 20px;
}

.summary>span{
  color: #777;
  margin: 10px;
}

.lbl-checkout{
  margin-left: 10px;
}

.margin-checkout-form{
  margin-top: 25px;
  margin-right: 25px;
  width: 87%;
  
}

#heading-booking-summary{
  background-color: #ed4030;
  color: #fff;
  padding: 10px 20px;
}

#btPay{
  width: 100%;
  margin-top: 20px;
}

.summary-details{
  margin: 20px;
}

#payment-info-container{
  padding-top: 30px;
}


/* ================================================================================================ */


/* About us Page */

.about-heading{
    position: relative;
    z-index: 0;
    color: white;
    font-size: 80px;
    font-weight: 900;
    bottom:100px;
    right: 27%;
}

.about-us-container{
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

#about-us-img-container{
  background-color: #fff;
}

#why-choos-us-container{
  margin: 10px 10px 10px 30px;
}

#h1-choose-us{
  font-size: 30px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h2-features{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ed4030;
}

#main-img{
  width: 400px;
}

.img-why-us{
  height: 60px;
  width: 60px;
}

.p_about_us{
  margin: 5px;
  text-align: left;
}

.p_section{
  padding-left: 20px;
}

.margin-sections{
  margin: 25px;
}

#mission-container{
  background-color: #333;
  padding: 60px 20%;
  text-align: center;
}

#mission{
  color: white;
  font-size: 40px;
}

#mission-content{
  color: #fff;
  font-size: 20px;
}

#our-team-container{
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.team-img{
  height: 250px;
  width: 250px;
  margin: 20px 40px 0px 0px;
}

.team-img:hover{
  border: thin solid #CCCCCC; 
  border-radius: 50%;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
  background-color: #fff;
  box-shadow: 0 15px 30px 20px rgba(0,0,0,0.3);
  transition: all .6s; 
}

.team-img-content{
  background-color: rgba(255,255,255,0.8);
  position: relative;
  top: -10%;
  color: #000;
  padding: 10px 20px;
  box-shadow: 0 15px 30px 20px rgba(0,0,0,0.3);
  margin: 0px 60px 20px 0px;
}